# import relevant libraries

In [226]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
import tensorflow.keras.layers as layers
from tensorflow.keras import Sequential

# Loading the training and test dataset

In [227]:
data_dir = "D:/Books/Machine Learning/Real_World_project/Titanic/dataset/"

In [228]:
train_dir = f"{data_dir}train.csv"
test_dir = f"{data_dir}test.csv"

In [229]:
train = pd.read_csv(train_dir, index_col='PassengerId')

In [230]:
train

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [231]:
train = train.drop(['Name', 'Cabin', 'Ticket'], axis=1)
train['Age'].fillna(train['Age'].mean(), inplace=True)
train['Embarked'].fillna(train['Embarked'].mode()[0], inplace=True)
train.head()

             Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
PassengerId
1                   0       3    male  22.0      1      0   7.2500        S
2                   1       1  female  38.0      1      0  71.2833        C
3                   1       3  female  26.0      0      0   7.9250        S
4                   1       1  female  35.0      1      0  53.1000        S
5                   0       3    male  35.0      0      0   8.0500        S

In [232]:
train['Sex'] = train['Sex'].map({'female':0, 'male':1}) 
train = pd.get_dummies(train, drop_first=True)

In [233]:
train.head(10)

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_Q,Embarked_S
PassengerId,,,,,,,,,
1,0,3,1,22.000000,1,0,7.2500,0,1
2,1,1,0,38.000000,1,0,71.2833,0,0
3,1,3,0,26.000000,0,0,7.9250,0,1
4,1,1,0,35.000000,1,0,53.1000,0,1
5,0,3,1,35.000000,0,0,8.0500,0,1
6,0,3,1,29.699118,0,0,8.4583,1,0
7,0,1,1,54.000000,0,0,51.8625,0,1
8,0,3,1,2.000000,3,1,21.0750,0,1
9,1,3,0,27.000000,0,2,11.1333,0,1
10,1,2,0,14.000000,1,0,30.0708,0,0

In [234]:
std_scalar = StandardScaler()
std_scalar.fit(train[['Age', 'Fare']])

StandardScaler()

In [235]:
train[['Age', 'Fare']] = std_scalar.transform(train[['Age', 'Fare']])

In [236]:
train

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_Q,Embarked_S
PassengerId,,,,,,,,,
1,0,3,1,-0.592481,1,0,-0.502445,0,1
2,1,1,0,0.638789,1,0,0.786845,0,0
3,1,3,0,-0.284663,0,0,-0.488854,0,1
4,1,1,0,0.407926,1,0,0.420730,0,1
5,0,3,1,0.407926,0,0,-0.486337,0,1
...,...,...,...,...,...,...,...,...,...
887,0,2,1,-0.207709,0,0,-0.386671,0,1
888,1,1,0,-0.823344,0,0,-0.044381,0,1
889,0,3,0,0.000000,1,2,-0.176263,0,1
890,1,1,1,-0.284663,0,0,-0.044381,0,0
891,0,3,1,0.177063,0,0,-0.492378,1,0

In [237]:
X_train = train[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked_Q', 'Embarked_S']].to_numpy()

In [238]:
y_train = train['Survived'].to_numpy()

In [239]:
model = Sequential()
model.add(layers.Dense(64, input_shape=(X_train.shape[1], ), activation='relu'))
model.add(layers.Dense(1, activation='softmax'))

In [240]:
model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

In [241]:
model.fit(X_train, y_train, epochs=100, batch_size=64)

Epoch 1/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 2/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 3/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 4/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 5/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 6/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 7/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 8/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 9/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 10/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 11/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 12/100
14/14 [==============================] - 0s 1000us/step - loss: 9.3960 - accuracy: 0.3838
Epoch 13/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 14/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 15/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 16/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 17/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 18/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 19/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 20/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 21/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 22/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 23/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 24/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 25/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 26/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 27/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 28/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 29/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 30/100
14/14 [==============================] - 0s 1000us/step - loss: 9.3960 - accuracy: 0.3838
Epoch 31/100
14/14 [==============================] - 0s 927us/step - loss: 9.3960 - accuracy: 0.3838
Epoch 32/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 33/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 34/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 35/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 36/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 37/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 38/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 39/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 40/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 41/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 42/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 43/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 44/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 45/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 46/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 47/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 48/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 49/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 50/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 51/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 52/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 53/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 54/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 55/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 56/100
14/14 [==============================] - 0s 1000us/step - loss: 9.3960 - accuracy: 0.3838
Epoch 57/100
14/14 [==============================] - 0s 1000us/step - loss: 9.3960 - accuracy: 0.3838
Epoch 58/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 59/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 60/100
14/14 [==============================] - 0s 928us/step - loss: 9.3960 - accuracy: 0.3838
Epoch 61/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 62/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 63/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 64/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 65/100
14/14 [==============================] - 0s 928us/step - loss: 9.3960 - accuracy: 0.3838
Epoch 66/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 67/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 68/100
14/14 [==============================] - 0s 1000us/step - loss: 9.3960 - accuracy: 0.3838
Epoch 69/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 70/100
14/14 [==============================] - 0s 1000us/step - loss: 9.3960 - accuracy: 0.3838
Epoch 71/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 72/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 73/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 74/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 75/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 76/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 77/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 78/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 79/100
14/14 [==============================] - 0s 1000us/step - loss: 9.3960 - accuracy: 0.3838
Epoch 80/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 81/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 82/100

14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 83/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 84/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 85/100
14/14 [==============================] - 0s 1000us/step - loss: 9.3960 - accuracy: 0.3838
Epoch 86/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 87/100
14/14 [==============================] - 0s 928us/step - loss: 9.3960 - accuracy: 0.3838
Epoch 88/100
14/14 [==============================] - 0s 3ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 89/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 90/100
14/14 [==============================] - 0s 928us/step - loss: 9.3960 - accuracy: 0.3838
Epoch 91/100
14/14 [==============================] - 0s 1ms/step - loss: 9.3960 - accuracy: 0.3838
Epoch 92/100
14/14 [==============================] - 0s 929us/step - loss: 9.3960 - accuracy: 0.3838
Epoch 93/100
14/14 [==============================] - 0s 857us/step - loss: 9.3960 - accuracy: 0.3838
Epoch 94/100
14/14 [==============================] - 0s 928us/step - loss: 9.3960 - accuracy: 0.3838
Epoch 95/100
14/14 [==============================] - 0s 857us/step - loss: 9.3960 - accuracy: 0.3838
Epoch 96/100
14/14 [==============================] - 0s 929us/step - loss: 9.3960 - accuracy: 0.3838
Epoch 97/100
14/14 [==============================] - 0s 928us/step - loss: 9.3960 - accuracy: 0.3838
Epoch 98/100
14/14 [==============================] - 0s 857us/step - loss: 9.3960 - accuracy: 0.3838
Epoch 99/100
14/14 [==============================] - 0s 1000us/step - loss: 9.3960 - accuracy: 0.3838
Epoch 100/100
14/14 [==============================] - 0s 929us/step - loss: 9.3960 - accuracy: 0.3838